@import "../style/variables";

body {
  font-size: 32px;
}

header {
}

main {
}

button {
}

section {
  border-bottom: solid 1px rgba(255,255,255,.2);
}

a {
  text-decoration: none;
  color: $textColor;
  cursor: pointer;
}