@import "../../../style/variables";

$size: $pyramidSize;
$halfSize: $size / 2;
$duration: 1.5s;

/* GLOBAL */

.pyramid, .pyramid-outer, .pyramid-inner {
  transform-style: preserve-3d;
}

/* VIEWPORT */

.viewport {
  width: $size;
  height: $size;
  margin: auto;
  position: relative;
  perspective: 600px;
  perspective-origin: 50% -150%;
}

/* PYRAMID */

.pyramid {
  width: $size;
  height: $size;
  position: absolute;
}

.pyramid-outer {
  transform: translateY($size);
  transition: transform $duration;
  .hide & {
    transform: translateY($size) rotateX(90deg);
  }
}

.pyramid-inner {
  transform: rotateZ(180deg);
}

/* FACES */

.pyramid-base, .pyramid-face {
  opacity: 0.5;
  position: absolute;
}

.pyramid-base {
  width: $size;
  height: $size;
  background-color: #ff0000;
  transform: rotateX(90deg) translate3d(0, 0, -23px);
  transition: all $duration ease-in-out;
  .hide & {
    opacity: 0;
  }
}

.pyramid-face {
  width:0;
  height:0;
  border-left: $halfSize solid transparent;
  border-right: $halfSize solid transparent;
  transition: all $duration ease-in-out;
  transform-origin: 50% 87%;
  .hide & {
    opacity: 0;
  }
}

.pyramid-face:nth-child(2) {
  border-bottom: $size solid #e04545;
  transform: rotateX(30deg) translate3d(0, 0, $halfSize);
  .hide & {
    transform: rotateX(-90deg) translate3d(0px, -63px, -15px);
  }
}

.pyramid-face:nth-child(3) {
  border-bottom: $size solid #ccaf5a;
  transform: rotateY(90deg) rotateX(-30deg) translate3d(0, 0, -$halfSize);
  .hide & {
    transform: rotateY(90deg) rotateX(90deg) translate3d(0px, -63px, 15px);
  }
}

.pyramid-face:nth-child(4) {
  border-bottom: $size solid #97c25f;
  transform: rotateY(90deg) rotateX(30deg) translate3d(0, 0, $halfSize);
  .hide & {
    transform: rotateY(90deg) rotateX(-90deg) translate3d(0px, -63px, -15px);
  }
}

.pyramid-face:nth-child(5) {
  border-bottom: $size solid #4ccfc8;
  transform: rotateX(-30deg) translate3d(0, 0, -$halfSize);
  .hide & {
    transform: rotateX(90deg) translate3d(0px, -63px, 15px);
  }
}

/* CUBE */

.pyramid {
  transform-origin: 50% -50%;
  animation: rotation 6s linear infinite;
}

@keyframes rotation {
  0% {}
  100% {transform: rotateY(360deg); }
}